@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
        <a href="/User/Create">Navigate to user creation form that uses some custom validations.</a><br/>
        <a href="/Report/Create">Navigate to report creation form that uses some custom validations.</a>
</p>
